@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
:root {
    --text-color-second: rgb(155, 155, 155);
    --text-color-footer: #589bc6;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(32, 32, 32); */
}

/* cursos */
p.returnCursos {
    background: linear-gradient(180deg, rgb(255, 255, 255) 87%, rgba(255, 255, 255, 0) 100%);
    padding-bottom: 30px;
    position: sticky;
    padding-top: 35px;
    top: 47px;
    width: 100%;
    text-align: right;
    animation: returnCursos 2s ease;
    z-index: 10;
}

p.returnCursos:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

div.textCurso {
    animation: textCurso .6s ease-in-out;
    position: relative;
}

img[src^="../../../assets"] {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: auto;
    transition:all .1s ease-in-out;
}
@keyframes textCurso {
    0% {
        transform: translateX(100vw);
        color: white;
    }
    50% {
        color: white;
    }
}
@keyframes returnCursos {
    0% {
        
        color: white;
    }
    80% {
        color: white;
    }
}

div.bannerAlert {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.885);
    color: rgb(255, 255, 255);
    font-size: 25px;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
}
div.bannerAlert p {
    margin-top: 120px;
}
/* fin cursos */
div.findSelect {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 68%, rgba(255, 255, 255, 0) 100%);
    padding: 40px 0 5px;
    position: sticky;
    top: 42px;
    z-index: 6;
}