@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
:root {
    --text-color-second: rgb(155, 155, 155);
    --text-color-footer: #589bc6;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* cursos */
p.returnCursos {
    background: linear-gradient(180deg, rgb(255, 255, 255) 87%, rgba(255, 255, 255, 0) 100%);
    padding-bottom: 30px;
    position: sticky;
    padding-top: 35px;
    top: 50px;
    width: 100%;
    text-align: right;
    animation: returnCursos 2s ease;
    z-index: 10;
}

p.returnCursos:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

div.textCurso {
    animation: textCurso 1s ease-in-out;
}

img[src^="../../../assets"] {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
    transition:all .1s ease-in-out;
}
@keyframes textCurso {
    0% {
        transform: translateX(100vw);
        color: white;
    }
    50% {
        color: white;
    }
}
@keyframes returnCursos {
    0% {
        
        color: white;
    }
    80% {
        color: white;
    }
}
/* fin cursos */