<div class="container">
  <div class="line">
     <div class="">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/js.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">JavaScript</h5>
          <p class="card-text">Iniciación y primeros fundamentos a JavaScript</p>
          <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
      </div>
    </div>
    <div class=" ">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/js.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/js.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>