<div class="line">

  <div class="card" style="width: 18rem;">
    <img src="../../../assets/images/js.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">JavaScript</h5>
      <p class="card-text">Iniciación y primeros fundamentos a JavaScript</p>
      <a routerLink="cursoJS" class="btn btn-primary">Ver mas</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="../../../assets/images/angular.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">AngularJS 11</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card'ssdfgsg ew rg  er et rt rt y dfg er g
        content.</p>
      <a routerLink="hola" class="btn btn-primary"  >Ver mas</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="../../../assets/images/git.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Git</h5>
      <p class="card-text">Varios comandos que debes saber con Git</p>
      <a href="#" class="btn btn-primary">Ver mas</a>
    </div>
  </div>

</div>