div.findSelect {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 68%, rgba(255, 255, 255, 0) 100%);
    padding: 40px 0 5px;
    position: sticky;
    top: 45px;
    z-index: 6;
    text-align: center;
}

div.findSelect input {
    margin: auto auto 50px;
    text-align: center;
    border: 1px solid black;
    animation: changeInput .5s ease-in-out;
    margin-right: 10px;
}
div.findSelect i {
    top:47px;
    right: 350px;
    color: rgb(70, 70, 70);
    animation: find 1s ease-in-out;
}

p.button {
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    color: var(--text-color-second);
    font-weight: 900;
    font-size: 20px;
    padding: 20px 0 40px;
    transition: all .2s ease-in-out;
    animation: linkVolver .3s ease;
    position: sticky;
    top: 130px;
    z-index: 6;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 68%, rgba(255, 255, 255, 0) 100%);
}

p.button:hover {
    color: black;
    cursor: pointer;
}

p.button:active {
    color: var(--text-color-second);
}

p.noFind {
    text-align: center;
}

div.line {
    display: flex;
    flex-wrap: wrap;
}

div.line div.card {
    animation: containerCursos .3s ease-in-out;
    border-radius: 0;
    width: 20%;
    padding: 20px;
    border: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0;
}

div.line div.card-body {
    position: relative;
}

div.line div.card-body p.card-text {
    margin-bottom: 40px;
}

div.line div.card-body a {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

@keyframes linkVolver {
    0% {
        color: white;
    }
}

@keyframes containerCursos {
    0% {
        transform: scale(.01);
    }
}

@keyframes changeInput {
    0% {
        transform: translateX(-300px);
        background-color: white;
        color: white;
    }
    30% {
        background-color: white;
        color: white;
    }
}
@keyframes find {
    0% {
        transform: scale(0);
        color: white;
    }
    70% {
        transform: rotateZ(20deg);
    }
    75% {
        transform: rotateZ(-20deg);
    }
    80% {
        transform: rotateZ(20deg);
    }
    85% {
        transform: rotateZ(-20deg);
    }
    90% {
        transform: rotateZ(20deg);
    }
    95% {
        transform: rotateZ(-20deg);
    }
}
@media (max-width:1200px) {
    div.line div.card {
        width: 25%;
    }
}


@media  (max-width:800px) {
    div.line div.card {
        width: 50%;
    }
}
@media (max-width:600px) {
    div.line div.card {
        width: 100%;
    }
}