div.image {
    background-image: url("../../../assets/images/photo.jpeg");
    width: 200px;
    height: 200px;
    background-size: contain;
    margin: auto auto 60px;
    animation: transitionImg .3s ease-in-out;
}
p {
    width: 70% ;
    margin: auto auto 15px;
    color:var(--text-color-second) ;
    animation: transitionP .7s ease-in-out;
}
@keyframes transitionP {
    0% {
        transform: translateX(-100vw);
        color: white;
    }
    30% {
        color: white;
    }
}
@keyframes transitionImg {
    0% {
     transform: scale(0);
    }
    
}