div.image {
    width: 200px;
    height: 200px;
    margin: auto auto 60px;
    animation: transitionImg .3s ease-in-out;
    margin-top: 40px;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
p {
    width: 70% ;
    margin: auto auto 15px;
    color:var(--text-color-second) ;
    animation: transitionP .8s ease-in-out;
}
@keyframes transitionP {
    0% {
        transform: translateX(-100vw);
        color: white;
    }
    70% {
        color: white;
    }
}
@keyframes transitionImg {
    0% {
     transform: scale(0);
    }
    
}