<div>
  
    <div>
        <!-- <nav>
            <a href={{urlGitHub}} target="_blank"><i class={{iGitHub}}></i></a>
            <a href={{urlLinkedin}} target="_blank"><i
                    class={{iLinkedin}}></i></a>
            <a href={{urlTwitter}} target="_blank"><i class={{iTwitter}}></i></a>
        </nav> -->
        <a *ngFor="let social of socials" href="" >{{social.url}}</a>
    </div>
    <div>
        <nav>
            <a href={{hrefMail}} target="_blank">{{mail}}</a>
            <a href={{hrefTlf}} target="_blank">{{tlf}} </a>
        </nav>
    </div>
    <p>&copy;RaulTejero 2021</p>
</div>