div div:first-child {
    padding-top: 30px;
}
div {
    background-color: black;
    padding-bottom: 20px;
}
div p {
    padding: 20px 0 0;
    text-align: center;
    color: white;
    font-size: 10px;
}
div nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div nav a {
    margin: 0 30px;
    color: var(--text-color-footer);
    font-size: 14px;
}

div nav a i {
    color: var(--text-color-footer);
    font-size: 28px;
    transition:all .3s ease;
}
div nav a i:hover {
    transform: scale(1.2);
}