h1 {
    font-size: 30px;
    text-align: center;
    padding: 40px 0 20px;
    animation: title .6s ease-in-out;
}
h3 {
    font-size: 16px;
    text-align: center;
    animation: technologies 1.5s ease-in-out;
}
p {
    font-size: 14px;
    text-align: center;
}
img{
    animation: firstImg 1s ease-in-out;
    margin-bottom: 4px;
}

@keyframes title {
    0% {
        color: white;
    transform: scale(0);
    }
}
@keyframes technologies {
    0% {
        color: white;
    transform: rotateX(90deg);
    }
}
@keyframes firstImg {
    0% {
    transform: scale(0);
    transform-origin: left top ;
    }
    30% {
        /* transform: rotateY(180deg); */
    }
}