h1 {
    font-size: 30px;
    text-align: center;
    padding: 40px 0 20px;
    animation: title .6s ease-in-out;
}
h3 {
    font-size: 16px;
    text-align: center;
    animation: technologies 1.5s ease-in-out;
}
p {
    font-size: 14px;
    text-align: center;
    animation: texts .7s ease-in-out ;
}
img{
    animation: img 1s ease-in-out;
    margin-bottom: 4px;
}

@keyframes title {
    0% {
        color: white;
    transform: scale(0);
    }
}
@keyframes img {
    0% {
    transform: scale(0);
    transform-origin: left top ;
    }
}
@keyframes texts {
    0% {
    transform: scale(0);
    transform-origin: left top ;
    }
    30% {
       color: white; 
       transform: translate(-100%);
    }

}