nav {
    display: flex;
    justify-content: center;
}
nav a {
    padding: 10px;
    color: var( --text-color-second);
    border-bottom: 5px solid white;
    font-weight: bold;
    font-size: 20px;
    outline-style: none; 
    transition: 0.1s;
    animation: nav 12s ease-in-out;
}
nav a:hover {
    border-bottom: 5px solid black;
    outline-style: none;
    text-decoration: none;
}
.activateLink {
    font-weight: bolder;
    transition: .3s;
    background-color: rgb(0, 0, 0);
    border-bottom: 5px solid black !important;
    color: rgb(255, 255, 255) !important;
}
