nav {
    display: flex;
    justify-content: center;
}
nav a {
    padding: 10px;
    color: var( --text-color-second);
    border-bottom: 2px solid white;
    font-size: 14px;
    outline-style: none; 
    transition: 0.1s;
    animation: nav 12s ease-in-out;
}
nav a:hover {
    border-bottom: 2px solid black;
    outline-style: none;
    text-decoration: none;
}
.activateLink {
    transition: .3s;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid black !important;
    color: rgb(255, 255, 255) !important;
}
