header {
    padding: 30px 0;
    text-align: center;
}
header h1 {
    font-weight: 900;
    font-size: 32px;
}
header h2 {
    color:var(--text-color-second) ;
    font-size: 17px;
}

div.navb {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    margin-bottom: 0px;
}
div.container {
    margin-bottom: 80px;
}
a {
    display: block;
    text-align: center;
    margin: 0 auto 20px;
    top: 10px;
    color: rgb(194, 27, 27);
    font-size: 12px;
}
