div select {
    display: block;
    margin: auto auto 50px;
    text-align: center;
    width: 193px;
    border: 1px solid rgb(0, 0, 0);
    animation: changeInput .5s ease-in-out;
    font-size: 14px;
}

div select option:hover {
    background-color: red;
}

div.line {
    display: flex;
    flex-wrap: wrap;
}

div.findSelect {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 68%, rgba(255, 255, 255, 0) 100%);
    padding: 40px 0 5px;
    position: sticky;
    top: 45px;
    z-index: 6;
}

div.line div.card {
    animation: containerCursos .3s ease-in-out;
    border-radius: 0;
    width: 25%;
    padding: 20px;
    border: none;
}
div.line div.card-body {
    position: relative;
    padding: 10px 10px 30px;
}

img, iframe {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0;
    border: .5px solid rgb(212, 212, 212)
}

p.site {
    font-size: 10px;
    margin-bottom: 0;
    text-align: end;
    color: var( --text-color-second)
}
h5 {
    font-size: 16px;
}
p.card-text {
    color: var( --text-color-second);
    font-size: 14px;
}
a.view{
    position: absolute; 
    bottom: 20px;
    left: 10px;
    font-size: 14px;
}

a:last-child {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 14px;
}


@keyframes changeInput {
    0% {
        transform: translateX(-300px);
        background-color: white;
        color: white;
        border: none;
        appearance: none;
    }
    30% {
        background-color: white;
        color: white;
        appearance: none;
    }
}

@keyframes containerCursos {
    0% {
        transform: scale(.01);
    }
}

@media (max-width:1200px) {
    div.line div.card {
        width: 33.333%;
    }
}

@media (max-width:800px) {
    div.line div.card {
        width: 50%;
    }
}

@media (max-width:600px) {
    div.line div.card {
        width: 100%;
    }
}